body {
    background-color: white;
    

}

.name {
    color: red;
    text-align: center;
    font-size: 50px;
}
ul {
    list-style-type: none;
    margin-left: 15%;
    
}
li {
    
}
.navbar {
    font-size: 200%;
    float: left;
    padding-left: 5.5%;
}


#italian {
    
}
#american {
    
  
}
#cuisine {
    font-family: Verdana;
    color: brown;
}
#across {
    font-family: Tahoma;
    font-size: .7em;
}
#cultures {
    color: rgb(87, 206, 117);
}
 hr {
    border: 2.5px outset rgb(6, 36, 102);
    padding-bottom: 1.2%;
    margin-top: 1%;
 }
